body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #1D222A;
    margin: 0px;
}

.flexbox {
    display: flex;
    max-width: 1000px;
    margin: auto;
}

.menu {
    max-width: 1000px;
    width: 90%;
    margin: auto;
    padding-top: 30px;
}

.logo {
    font-size: 18px;
    font-weight: 600;
}

.page-title {
    font-size: 24px;
    font-weight: 100;
}

.red-text {
    color: #DB423F;
    font-weight: 900;
}

.line {
    border-style: none none solid none;
    border-color: #1D222A;
    border-width: .5px;
    width: 143px;
    margin-top: 3px;
    margin-bottom: 4px;
}

.main-section {
    max-width: 1000px;
    width: 90%;
    padding-top: 30px;
    margin-bottom: 70px;
}

.form-section {
    flex-grow: 1;
    margin-right: 40px;
}

.form-panel {
}

.progress {
    display: block;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 25px 20px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    outline: none;
    color: #868E9A;
    margin-bottom: 20px;
    background-color: #fcfcfd;
    width: 250px;
}

.progress-title {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 30px;
}

.line-1 {
    border-style: none none solid none;
    border-color: #ededed;
    border-width: 1px;
    margin: 20px 0 20px;
}

.progress-active {
    font-weight: 600;
    color: #3B99FD;
}

.progress-detail {
    font-size: 12px;
    font-weight: 100;
}


.title {
    font-weight: 900;
    font-size: 35px;
    max-width: 1000px;
    width: 90%;
    padding-top: 94px;
    margin: auto;
}

.title-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}

.title-3 {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.title-4 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 5px;
}
.form-button {
    color: white;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    background: rgb(52,151,255);
    background: linear-gradient(38deg, rgba(52,151,255,1) 0%, rgba(129,191,255,1) 100%);
    max-width: 320px;
    height: 40px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(189,196,213,0.84);
    -moz-box-shadow: 0px 3px 6px 0px rgba(189,196,213,0.84);
    box-shadow: 0px 3px 6px 0px rgba(189,196,213,0.84);
    margin-top: 30px;
    padding-top: 15px;
    cursor: pointer;
}

.form-field {
    max-width: 400px;
    height: 40px;
    display: block;
    font-size: 18px;
    font-weight: 500;
    font-family: "Nunito Sans", sans-serif;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #A7AFBE;
    outline: none;
    color: black;
    margin-bottom: 20px;
    min-width: 300px;
    max-width: 400px;
}

::placeholder {
  font-weight: 300;
  color: #868E9A;
  opacity: 1;
}

.text-field {
    font-size: 18px;
    font-weight: 500;
    font-family: "Nunito Sans", sans-serif;
    padding: 7px 10px;
    max-width: 400px;
    min-width: 300px;
    min-height: 100px;
    max-height: 400px;
}

/**
label {
    margin-top: 20px;
    margin-bottom: 20px;
}**/

.checkmark-section {
    margin-bottom: 60px;
}

.radio-button {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid black;
}

/* When the radio button is checked, add a blue background */
.radio-button input:checked ~ .radio-checkmark {
  background-color: #3B99FD;
  border: 1px solid #3B99FD;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-button input:checked ~ .radio-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-button .checkmark:after {
	border-radius: 50%;
	background: white;
    background-image: url("https://anahid33.github.io/the-lab/itad/assets/check.svg");
}

/* The container */
.box-button {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.box-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.box-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.box-button:hover input ~ .box-checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.box-button input:checked ~ .box-checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.box-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.box-button input:checked ~ .box-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.box-button .box-checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.help-section {
    background-color: #F5F6F7;
    padding: 50px;
}

.help-img {
    background-image: url("https://anahid33.github.io/the-lab/itad/assets/help-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 112px;
    width: 312px;
    margin: auto;
}

.help-text {
    margin: auto;
}

.help-text1 {
    font-size: 23px;
    font-weight: 600;
    text-align: left;
    width: 263px;
    padding-bottom: 10px;
}

.help-text2 {
    text-align: left;
    width: 263px;
}

a {
    text-decoration: none;
}

.panel {
    display: none;
}
.accordion-button {
    display: none;
}

.hidden {
    display: none;
}

input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 8px;
    font-size: 17px;
    color: #b8b8b8;
    visibility: hidden;
}

.button-wrap {
    position: relative;
}
.upload-button {
    display: inline-block;
    padding: 20px 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: regular;
    text-align: center;
    color: black;
    box-shadow: 0px 0px 6px #E3E2E2;
    margin-bottom: 20px;
    width: 300px;
}
    
@media (max-width: 720px){
    .main-section {
        display: block;
        width: 100%;
        padding-top: 0px;
        min-height: calc(100vh - 80px);
        display: flex;
        align-items: stretch;
        flex-direction: column;
        margin: 0px;
    }
    .input-form {
        max-width: 100%;
    }
    .menu {
        width: calc(100vw - 48px);
        margin: 0 24px;
        box-sizing: border-box;
        margin-top: 10px;
        margin-bottom: 0px;
        border-bottom: 1px solid #1D222A;
    }
    .red-text {
        font-size: 20px;
    }
    .page-title {
        display: none;
    }
    .line {
        border-style: none;
    }
    .form-section {
        padding: 0 24px;
        box-sizing: border-box;
        flex-grow: 0;
        margin-right: 0px;
    }
    .help-section {
        padding: 30px 24px 40px;
        box-sizing: border-box;
    }
    .help-section .flexbox {
        flex-grow: 1;
        flex-direction: column-reverse;
    }
    .help-img {
        width: 70%;
        margin-bottom: 20px;
    }
    .help-text1 {
        font-size: 18px;
        text-align: center;
    }
    .help-text2 {
        font-size: 16px;
        text-align: center;
    }
    .title {
        margin-top: 30px;
        font-size: 23px;
        margin-bottom: 20px;
        padding-top: 0px;
        margin-left: 25px
    }
    button {
        font-size: 28px;
        font-family: 'Nunito Sans', sans-serif;
        background-color: fff;
        border: 0px;
        padding: 0px;
    }
    .title::after {
        background-image: url("https://anahid33.github.io/the-lab/itad/assets/chevron.svg");
        background-size: 18px;
        width: 18px;
        position: absolute;
        content: "a";
        color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 12px;
    }
    
    #page-title.showmenu::after {
        transform: rotate(180deg);
    }
    
    .top-section {
        background-color: #fdfdfd;
    }
    .progress {
        display: none;
    }
    .form-button {
        margin-top: 20px;
        margin-bottom: 40px;
        margin-left: 25px;
        min-width: 275px;
        max-width: 275px;
    }
    
    .progress-accordion {
        background-color: #fcfcfd;
        padding: 20px 20px 20px;
        margin-bottom: 50px;
        border: 1px solid #ededed;
    }
    
    .panel.showmenu {
        display: block;
    }
    
    .accordion-button {
        display: block;
    }
    
    .form-field {
        min-width: 275px;
        width: 90%;
    }
    .text-field {
        min-width: 275px;
        width: 90%;
    }
    .upload-button {
        min-width: 275px;
        width: 0px;
    }
    .upload {
        margin: 0;
    }
}